<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>プライバシーポリシー</p>
    <p class='second-fotter-text'>GIFT-IDEAS利用規約</p>
  </div>
  <%= image_tag "gift-ideas-logo.png", class:"second-fotter-logo"%>
</footer>